**/.DS_Store
**/.azure
**/bin
**/obj
download*.*
**/.deploy
*.pfx
password.txt
**/todo-list.db*
local.settings.json
instructor.md
projects/containerized/kubernetes/
**/.vscode/extensions.json
labs/functions/http/lab/
secrets.json
src/rng/.vs/Numbers/v17/.suo
src/rng/.vs/Numbers/FileContentIndex/read.lock
src/rng/.vs/Numbers/FileContentIndex/543ab3ac-b1d7-4b99-af44-7df284660ccd.vsidx
src/rng/.vs/Numbers/config/applicationhost.config
src/rng/.vs/Numbers/DesignTimeBuild/.dtbcache.v2
src/fulfilment-processor/.vs/Fulfilment.Processor/config/applicationhost.config
src/fulfilment-processor/.vs/Fulfilment.Processor/FileContentIndex/a3238748-3a96-439c-b1f3-a93753020266.vsidx
.gitignore
src/fulfilment-processor/.vs/Fulfilment.Processor/FileContentIndex/read.lock
 src/fulfilment-processor/.vs/Fulfilment.Processor/DesignTimeBuild/.dtbcache.v2
src/fulfilment-processor/.vs/Fulfilment.Processor/v17/.futdcache.v2
src/fulfilment-processor/.vs/Fulfilment.Processor/v17/.suo
src/fulfilment-processor/.vs/ProjectEvaluation/fulfilment.processor.metadata.v7.bin
src/fulfilment-processor/.vs/ProjectEvaluation/fulfilment.processor.projects.v7.bin
src/fulfilment-processor/.vs/Fulfilment.Processor/DesignTimeBuild/.dtbcache.v2
